* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.nav-center ul {
    max-width: 400px;
    list-style: none;
    padding: 0;
}
h2 {
    margin: 540px;
    padding: 5px;
}

.nav-center ul li {
    display: inline;
    border:1px solid #c0c0c0;
    margin-right: 20px;
    padding: 5px;
}
ul li:hover {
    background-color: rgb(24, 139, 233);
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.nav-center ul li a {
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

h2 {
    background-color: black;
    color: white;
    display: -ms-inline-grid;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

    button {
        display: flex;
        padding: 10px;
    }
